.panel{
	margin-top: 3vh;
}

.panel1 button{
	width: 100%;
}
.divCollapse{
    background-color: #151313e8;
    padding: 20px 0;
    margin-top: 20px;
}
.divCollapse h2{
	color: white;
}
.panel-group .panel2{
	background-color: #0000008c;
	color: white;
}
.panel-group .panel-heading+.panel-collapse>.list-group, 
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border:none;
    padding: 5px;
}
.panel-heading {
    padding: 5px;
}
.panel a{
	text-decoration: none;
}